/* Colors
- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

- Font size (paragraph): 18px

font-family: 'Epilogue', sans-serif;
*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* NAV BAR */

#overlay {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%, 0.5);
    z-index: 50;
    cursor: pointer;
}

.nav-container {
    position: relative;
    width: 100vw;
    padding-block: 1rem;
    padding-left: 1.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 0;
    flex-shrink: 0;
}

.logo > img {
    margin-top: 6px;
}

.nav-flex-container {
    display: flex;
    flex-grow: 1;
    padding-left: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.flex-nav-links {
    display: flex;
    align-items: center;
    margin-inline: 2rem;
    gap: 2rem;
}

.flex-nav-links li:last-child {
    margin-left: 0.75rem;
}

.flex-nav-links a {
    color: hsl(0, 0%, 41%);
}

.menu-arrow {
    padding-block: 3px;
    padding-inline: 6px;
    transition: transform 0.3s ease-in-out;
}

.accordion-content {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.5s;
}

.sub-nav {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.sub-nav li {
    margin-bottom: 0.9rem;
}

.list-icons {
    padding-right: 1rem;
}

.user-links {
    margin-left: 0;
    padding-left: 0;
}

a:hover {
    color: hsl(0, 0%, 8%);
}

.register {
    border: 2px solid hsl(0, 0%, 41%);
    padding-block: 0.5rem;
    padding-inline: 2rem;
    border-radius: 0.75rem;
}

.register:hover {
    border: 2px solid hsl(0, 0%, 8%);
    cursor: pointer;
}

.menu-ctrl {
    display: none;
    cursor: pointer;
}

/* MAIN CONTENT */

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    margin-bottom: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 0.7rem;
    margin-block: 1.35rem;
}

.cta-content p {
    color: hsl(0, 0%, 41%);
    line-height: 1.45rem;
    font-size: 0.93rem;
    text-align: center;
    max-width: 625px;
}

.cta {
    text-align: center;
    margin-block: 1.2rem;
    padding-inline: 0.6rem;
}

.cta-button {
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    padding-block: 0.85rem;
    padding-inline: 1.2rem;
    border-radius: 0.75rem;
    font-size: 0.93rem;
}

.cta-button:hover {
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
}

.examples-container {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 625px;
    padding-inline: 0.6rem;
    gap: 1rem;
}

.customer-examples {
    max-width: calc(100vw / 4.5);
}

.customer-examples > img {
    width: 100%;
    max-height: 1.5rem;
}

.customer-examples:nth-child(n+3) > img {
    max-height: 0.9rem;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    padding-bottom: 1rem;
}

.attribution {
    font-size: 0.8rem;
}

.attribution p {
    color: hsl(0, 0%, 41%);
    line-height: 1rem;
}

.attribution a {
    color: hsl(0, 0%, 8%);
}

.attribution a:hover {
    color: hsl(0, 0%, 41%);
    border-bottom:1px solid hsl(0, 0%, 41%);
}

@media (max-width: 860px) {
    .nav-container {
        justify-content: space-between;
        padding-right: 1.25rem;
    }
    .nav-flex-container {
        position: absolute;
        z-index: 100;
        background-color: white;
        top: 0px;
        right: 0px;
        padding-top: 10vh;
        padding-left: 1.45rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        width: 65vw;
        max-width: 250px;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
    }
    .flex-nav-links {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        gap: 1.6rem;
    }
    .flex-nav-links li:last-child {
        margin-left: 0rem;
    }
    .user-links {
        font-size: 0.9rem;
        padding-top: 3rem;
        margin-right: 0;
        align-items: center;
        width: 100%;
        padding-right: 1rem;
    }
    .user-buttons {
        padding-bottom: 0.75rem;
    }
    .register {
        padding-block: 0.75rem;
        padding-inline: 3.8rem;
        border-radius: 1rem;
    }
    .menu-ctrl {
        display: block;
        z-index: 99999;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        width: 100vw;
        max-width: 625px;
        text-align: center;
    }
    .img-mobile {
        width: 100%;
    }
    .img-desktop {
        display: none;
    }
}

@media (min-width: 860px) {
    .nav-container {
        margin-bottom: 2.5rem;
    }
    .accordion-content {
        position: absolute;
        z-index: 50;
        top: 3.5rem;
        left: 5.75rem;
        max-height: unset;
        background-color: white;
        border-radius: 0.5rem;
        filter: drop-shadow(0 0 0.5rem hsla(0, 0%, 8%, 0.3));
    }
    .company-links {
        left: 17rem;
    }
    .sub-nav {
        padding: 1rem;
        padding-left: 1.25rem;
    }
    .sub-nav li:last-child {
        margin-left: 0;
        margin-bottom: 0;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        width: 480px;
        max-width: 50vw;
        padding-right: 1.2rem;
    }
    .cta-container {
        width: 680px;
        max-width: 50vw;
    }
    .cta-content {
        align-items: flex-start;
        padding-left: 1.2rem;
    }
    .cta-content > h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
    .cta-content > p {
        text-align: left;
        max-width: 400px;
    }
    .cta {
        text-align: left;
        padding-left: 1.2rem;
        padding-bottom: 2rem;
    }
    #lead-word {
        display: block;
        font-size: 3.5rem;
    }
    .examples-container {
        width: 460px;
        max-width: 50vw;
        padding-left: 1.2rem;
        padding-right: 2.4rem;
        padding-bottom: 0;
    }
    .customer-examples {
        max-width: 100px;
    }
}

@media (min-width: 860px) and (max-width: 950px) {
    .nav-flex-container {
        padding-left: 0.75rem;
    }
    .flex-nav-links {
        gap: 1rem;
    }
    .accordion-content {
        left: 5rem;
    }
    .company-links {
        left: 15.5rem;
    }
    .img-desktop {
        max-width: 45vw;
    }
}

@media (min-width: 950px) {
    .cta-content {
        margin-bottom: 3.5rem;
    }
    .cta-content h1 {
        font-size: 3.5rem;
    }
    #lead-word {
        font-size: 4rem;
    }
    .cta {
        padding-bottom: 3rem;
    }
}

@media (min-width: 1100px) {
    main {
        justify-content: center;
    }
    .cta-container {
        max-width: 550px;
    }
}

@media (min-width: 1300px) {
    .nav-container {
        margin-bottom: 3rem;
    }
    .cta-container {
        max-width: 660px;
    }
    .cta-content {
        margin-bottom: 4.5rem;
    }
    .cta-content h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
    }
    #lead-word {
        font-size: 4.5rem;
    }
    .cta {
        padding-bottom: 4rem;
    }
    .img-desktop {
        width: 520px;
    }
}

.removed {
    display: none;
}