/* Colors
- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

- Font size (paragraph): 18px

font-family: 'Epilogue', sans-serif;
*/

* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 0%, 8%);
    overflow:hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 0.93rem;
}

header {
    position: relative;
}

#overlay {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%, 0.5);
    z-index: 50;
    cursor: pointer;
}

.nav-container {
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.logo {
    margin-top: 1.35em;
    margin-left: 1.15em;
}

#menu-open {
    width: 32px;
    height: 18px;
}

#menu-close:hover, #menu-open:hover {
    cursor: pointer;
}

.menu-ctrl {
    margin-top: 1.35em;
    margin-right: 1.15em;
    z-index: 99999;
}

#nav-menu {
    /* position: absolute; */
    /* z-index: 100; */
    padding: 20px;
    /* height: 100vh; */
    /* width: 65vw; */
    /* right: 0; */
    /* top: 0; */
    color: hsl(0, 0%, 41%);
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

.main-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 4em;
    margin: 0;
    margin-bottom: 2em;
}

.main-nav li {
    list-style: none;
    margin-bottom: 1em;
    font-size: 0.93em;
}

.accordion-ctrl {
    font-size: 0.93rem;
}

.accordion-ctrl:hover {
    cursor: pointer;
}

.accordion-ctrl-icon {
    margin-left: 0.35rem;
    margin-bottom: 0.1rem;
    transform: rotate(0turn);
    transition: transform 0.3s ease-in-out;
}

.accordion-content {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.5s;
}

.sub-nav {
    padding-left: 2em;
    padding-top: 1.25em;
}

.sub-links {
    display: flex;
    align-items: center;
}

.link:hover {
    color: hsl(0, 0%, 8%);
}

.sub-links > img {
    max-height: 1.75em;
    margin-bottom: 0.25em;
    padding-right: 1em;
}

.user-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.user-btn {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

.register {
    border: 2px solid hsl(0, 0%, 41%);
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    width: 95%;
    border-radius: 1em;
    text-align: center;
}

.register:hover {
    border: 2px solid hsl(0, 0%, 8%);
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-mobile img {
    width: 100%;
    margin-bottom: 2.75rem;
}

.hero-desktop {
    display: none;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta > h1 {
    font-size: 1.9rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1.5rem;
}

.h1-lead-word {
    font-size: 1.9rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1.5rem;
}
.h1-break {
    display: none;
}
.cta > p {
    color: hsl(0, 0%, 41%);
    line-height: 1.65rem;
    font-size: 0.92rem;
    text-align: center;
    /* padding-left: 0.65rem;
    padding-right: 0.65rem; */
    margin-bottom: 1.5rem;
    max-width: 20rem;
}

.btn-cta {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    font-family: 'Epilogue', sans-serif;
    font-size: 0.92rem;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.btn-cta:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
}

.examples-container {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.customer-examples > img {
    max-width: calc(100vw / 5);
    max-height: 1.45rem;
}
.removed {
    display: none;
}

@media (max-width: 374px) {
    .cta > p {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }
    body {
        min-width: 275px;
    }
    #nav-menu {
        position: absolute;
        z-index: 100;
        height: 100vh;
        width: 65vw;
        right: 0;
        top: 0;
    }
}

@media (max-width: 849px) {
    .hero-mobile img {
        max-width: 475px;
    }
    #nav-menu {
        position: absolute;
        max-width: 250px;
        position: absolute;
        z-index: 100;
        height: 100vh;
        width: 65vw;
        right: 0;
        top: 0;
    }
    .h1-break {
        display: none;
    }
}

@media (min-width: 850px) {
    .logo-container {
        position: static;
        flex-grow: 0;
    }
    .menu-ctrl {
        display: none;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 5rem;
    }
    #nav-menu {
        position: static;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        /* width: 80vw;
        z-index: 1; */
        color: hsl(0, 0%, 41%);
        background-color: hsla(255, 100%, 100%, 0);
        transform: translateX(0%);
        transition: transform 0.2s ease-in-out;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-left: 2em;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        margin: 0;
    }
    .main-nav li {
        max-width: 113px;
        min-width: 67px;
        padding: 0;
        margin: 0;
    }
    .last-nav-link {
        padding-left: 1.5em;
    }
    .accordion-content {
        position: absolute;
        z-index: 50;
        top: 3.5rem;
        left: -1rem;
        max-height: unset;
        background-color: white;
        border-radius: 1rem;
        filter: drop-shadow(0 0 0.5rem hsla(0, 0%, 8%, 0.5));
    }
    .company-links {
        left: 8rem;
    }
    .sub-nav {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1.25rem;
        padding-bottom: 0.5rem;
    }
    .sub-links {
        margin-bottom: 0.75rem;
    }
    .user-btn-container {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
    .user-btn {
        font-size: 0.93em;
        margin-right: 2em;
    }
    .register {
        min-width: 113px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.75em;
        text-align: center;
    }
    main {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;
    }
    .hero-mobile {
        display: none;
    }
    .hero-desktop {
        display: inline;
    }
    .hero-desktop img {
        max-width: 30vw;
    }
    .cta {
        min-width: 40vw;
        max-width: 50vw;
        align-items: flex-start;
    }
    .h1-lead-word {
        font-size: 4rem;
    }
    .h1-break {
        display: inline;
    }
    .cta h1 {
        font-size: 3.5rem;
    }
    .cta p {
        text-align: left;
        max-width: 24rem;
        padding-bottom: 2rem;
    }
    .btn-cta {
        margin-bottom: 4rem;
    }
    .examples-container {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        max-width: 40vw;
    }
    .customer-examples > img {
        /* max-width: calc(100vw / 5); */
        max-height: 1.45rem;
    }
}

@media (min-width: 851px) and (max-width: 1000px) {
    main {
        gap: 1rem;
    }
    .h1-lead-word {
        font-size: 3rem;
    }
    .cta h1 {
        font-size: 2.5rem;
    }
    .btn-cta {
        margin-bottom: 4rem;
    }
    .hero-desktop img {
        min-width: 40vw;
    }
    .examples-container {
        max-width: 20vw;
    }
    .customer-examples > img {
        max-width: calc(25vw / 4);
        max-height: 1rem;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    main {
        gap: 3rem;
    }
    .cta {
        min-width: 40vw;
    }
    .h1-lead-word {
        font-size: 3.5rem;
    }
    .cta h1 {
        font-size: 3rem;
    }
    .hero-desktop img {
        min-width: 35vw;
    }
    .examples-container {
        max-width: 20vw;
    }
    .customer-examples > img {
        max-width: calc(30vw / 4);
        max-height: 1.15rem;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .main-nav li {
        padding-left: 1rem;
        padding-right: 0.5rem;
        max-width: 153px;
    }
    .last-nav-link {
        padding-left: 0.5em;
    }
    .accordion-content {
        left: 0rem;
    }
    .company-links {
        left: 10.5rem;
    }
    .sub-nav {
        padding-left: 0;
        padding-right: 0.75rem;
    }
    main {
        gap: 3rem;
    }
    .h1-lead-word {
        font-size: 4rem;
    }
    .cta h1 {
        font-size: 3.5rem;
    }
    .hero-desktop img {
        max-width: 432px;
    }
}

@media (min-width: 1440px) {
    .main-nav li {
        padding-left: 1rem;
        padding-right: 0.5rem;
        max-width: 150px;
    }
    .last-nav-link {
        padding-left: 0.5em;
    }
    .accordion-content {
        left: 0rem;
    }
    .company-links {
        left: 10.5rem;
    }
    .sub-nav {
        padding-left: 0;
        padding-right: 0.75rem;
    }
    main {
        gap: 3rem;
    }
    .cta {
        max-width: 432px;
    }
    .h1-lead-word {
        font-size: 90px;
    }
    .cta h1 {
        font-size: 81px;
    }
    .hero-desktop img {
        max-width: 460px;
    }
}

/* Attribution styles for FrontEnd Mentor */
.attribution { 
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-family: 'Epilogue', sans-serif;
    margin-top: auto;
}

.attribution p {
    font-size: 0.75rem;
    margin: 0; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 0.85rem;
}